# Byte-compiled / optimized / DLL files
__pycache__

# Data dir
data

# Environments
env/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# mypy
.mypy_cache/

# tensorboard runs
runs/
