# Byte-compiled / optimized / DLL files
__pycache__

# Data dir
data

# Environments
env/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# mypy
.mypy_cache/

# tensorboard runs
runs/

# tags file
tags

# pytorch-lightning logs
lightning_logs

# dir used to store remote logs, like the ones from relela or rafike
remote_logs
